name: PrintSoftwareVersions

on:
  workflow_dispatch

jobs:
  print-processing-layer-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Show Node.js version
        run: node --version
      - name: Show Python version
        run: python3 --version
      - name: Show Java version
        run: java --version
      - name: Show Go version
        run: go version

  print-data-layer-versions:
  runs-on: ubuntu-latest
  steps:
    - name: Install PostgreSQL client
      run: sudo apt-get update && sudo apt-get install -y postgresql-client

    - name: Install InfluxDB CLI
      run: |
        wget https://dl.influxdata.com/influxdb/releases/influxdb2-client-2.7.4-linux-amd64.tar.gz
        tar xvf influxdb2-client-2.7.4-linux-amd64.tar.gz
        sudo cp influxdb2-client-2.7.4-linux-amd64/influx /usr/local/bin/

    - name: Show PostgreSQL version
      run: psql --version

    - name: Show InfluxDB version
      run: influx version

